h1, h2 {
    font-family: 'Indie Flower', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals img {
    width: 30vw;
    display: flex;
    border-radius: 25%;
    padding: 10px;
    cursor: pointer;
}

.animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
}