h1, h2 {
    font-family: 'Indie Flower', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

#title {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    font-size: 5rem;
    line-height: 80px;
    margin-top: -40px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.relax img {
    width: 30vw;
    display: flex;
    border-radius: 25%;
    padding: 10px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    opacity: 50%;
}

.relax {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

#waves-text {
    position: absolute;
    top: 170px;
    left: 50px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    justify-content: center;
}

#fire-text {
    position: relative;
    top: 170px;
    left: 440px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

#rain-text {
    position: relative;
    top: 170px;
    left: 780px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.relax :hover {
    opacity: 100%;
};

.relax, h3 {
    margin: auto;
    justify-content: center;
    text-align: center;
}

/* Tis says to try aligning by using the bckground-image css propery on a div and nest the h3 inside of it */
