h1, h2 {
    font-family: 'Indie Flower', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

#title {
    display: flex;
    justify-content: center;
    font-family: 'Rock Salt', cursive;
    font-size: 5rem;
    line-height: 80px;
    margin-top: -40px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals img {
    width: 30vw;
    display: flex;
    border-radius: 25%;
    padding: 10px;
    cursor: pointer;
}

.animals {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
